/* 自定义主题样式 */
/* 修改背景颜色 */
.firebaseui-container {
    box-shadow: none;
    max-width: none;
    .firebaseui-card-content{
        padding: 0;
        form{
            ul.firebaseui-idp-list{
                // margin: 0;
                // display: flex;
                // justify-content: space-around;
                li.firebaseui-list-item{
                    // margin-left: 10px;
                    .firebaseui-idp-text{
                        font-size: var(--font-size-16);
                    }
                    &:first-child{
                        margin-left: 0;
                    }
                    // margin: 0;
                    button{
                        max-width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        // background-color:rgba(255, 255, 255, .5) !important;
                        // padding: 8px 12px;
                        // border-radius: 50px;
                        min-width: 0;
                        span.firebaseui-idp-text{
                            // display: none;
                        }
                    }
                }
            }
        }
    }
    .firebaseui-card-footer {
        display: none;
    }
    .firebaseui-card-actions{
        .firebaseui-id-submit{
            background-color: var(--h5-color-primary);
            &:hover{
                outline: none;
            }
        }
    }
    .firebaseui-info-bar, .firebaseui-id-info-bar{
        display: none;
    }
}

#firebaseui-auth-container {
    background-color: transparent;
    flex: initial;

    .firebaseui-card-footer,
    .firebaseui-callback-indicator-container,
    .other-tips,
    .firebaseui-id-page-callback {
        background: transparent;
    }
}