@import "./sidebar.scss";
@import "vant-cover.scss";

@font-face {
  font-family: "Druk Wide Bold";
  src: url("../fonts/DrukWideBold.ttf") format("truetype");
}

@font-face {
  font-family: "TT Norms Pro";
  src: url("../fonts/TT Norms Pro Regular.otf") format("truetype");
}

* {
  ::-webkit-scrollbar {
    display: none;
  }
}

:root {
  text-size-adjust: 100%;
  --font-size-20: 20px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-base: 14px;
  --van-action-bar-height: 50px;
  --van-blue: #e1ff01;
  --block-background-color: #f7f8fc;
  --h5-color-primary: #076DEA;
  --h5-color-primary-light-5: #83b6f5;
  --h5-color-primary-light-9: #e6f0fd;
  --h5-fill-color-light: rgba(255, 255, 255, 0.15);
  --h5-text-color-primary: #000;
  --h5-text-color-secondary: rgba(0, 0, 0, 0.7);
  --h5-text-color-regular: #fff;
  --h5-text-color-placeholder: rgba(255, 255, 255, 0.7);
  --backdrop-blur: blur(50px);
  --double-bg: url("../images/background/bg-t.png") no-repeat left top,
  url("../images/background/bg-b.png") no-repeat 84px 200px;
  --van-text-color: var(--h5-text-color-regular);
  --van-text-color-3: var(--h5-text-color-placeholder);
  --van-border-color: rgba(255, 255, 255, 0.1);
  --van-border: 1px solid var(--van-border-color);
}

body {
  height: 100%;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: TT Norms Pro, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica,
  Segoe UI, Arial, Roboto, "PingFang SC", "miui", "Hiragino Sans GB", "Microsoft Yahei",
  sans-serif;
  font-weight: 400;
  font-feature-settings: 'dlig' on;
  color: var(--h5-text-color-regular);
  line-height: 1.5;

  .van-popup {
    --van-popup-background: var(--h5-fill-color-light);
    --van-action-sheet-item-background: transparent;
    --van-action-sheet-cancel-padding-color: var(--h5-fill-color-light);
    --van-action-sheet-cancel-text-color: var(--h5-text-color-placeholder);
    --van-active-color: var(--h5-fill-color-light);
    backdrop-filter: var(--backdrop-blur);
  }

  .van-share-sheet {
    --van-background: var(--h5-fill-color-light);
    --van-share-sheet-option-name-color: var(--h5-text-color-placeholder);
    --van-share-sheet-cancel-button-background: transparent;
  }

  .van-tab {
    --van-tab-text-color: var(--h5-text-color-placeholder);
    --van-tab-active-text-color: var(--h5-text-color-regular);
  }

  .van-empty__description {
    --van-empty-description-color: var(--h5-text-color-placeholder);
  }

  .van-floating-bubble {
    --van-floating-bubble-color: var(--h5-text-color-secondary);
  }

  .van-dialog {
    --van-dialog-background: var(--h5-fill-color-light);
    border: var(--van-border);

    .van-button--default {
      --van-button-default-background: transparent;
      --van-button-default-color: var(--h5-text-color-placeholder);
    }
  }

  .van-dialog__message--has-title {
    --van-dialog-has-title-message-text-color: var(--h5-text-color-placeholder);
  }

  .van-cell {
    --van-cell-text-color: var(--h5-text-color-regular);
    --van-cell-background: rgba(0, 0, 0, 0.5);
    backdrop-filter: var(--backdrop-blur);

    &__value {
      --van-cell-value-color: var(--h5-text-color-placeholder);
    }
  }

  .van-list {
    border: var(--van-border);
  }

  .van-search__content {
    --van-search-content-background: var(--h5-fill-color-light);
    backdrop-filter: var(--backdrop-blur);
    border: var(--van-border);
  }

  .van-search__field {
    backdrop-filter: unset;

    .van-field__left-icon {
      color: var(--h5-text-color-placeholder);
    }
  }

  .van-search__action {
    &:active {
      background: transparent;
    }
  }

  .van-button {
    --van-button-radius: 8px;
  }

  .van-picker {
    --van-picker-background: transparent;
    --van-picker-mask-color: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, .1)
    ),
    linear-gradient(
        0deg,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, .1)
    );
  }

  .van-tag {
    --van-tag-radius: 8px;

    &--large {
      --van-tag-large-radius: 8px;
    }

    &--default {
      background: var(--van-black);
      color: var(--h5-text-color-regular);
      backdrop-filter: var(--backdrop-blur);
      box-shadow: 0 0 0 1px var(--van-border-color);
    }
  }
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.app-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background: var(--double-bg);
  background-color: #000;
}

.app-page {
  //display: flex;
  //flex-direction: column;
  height: 100%;
  overflow: hidden auto;
}

.app-page-top {
  flex: none;
  padding: 16px 16px 0;
  margin-bottom: 16px;
}

.app-page-content {
  //flex: 1;
  padding: 0 4px;
  //overflow: hidden auto;
}

.app-page-col {
  & + & {
    margin-left: 16px;
  }
}

.page-list {
  --van-cell-vertical-padding: 16px;
  --van-cell-horizontal-padding: 12px;
  display: inline-block;
  width: 100%;
  padding: 0 8px;
  margin-bottom: 16px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);

  &__inner {
    --van-cell-text-color: var(--van-white);
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: var(--van-border);

    &.van-cell {
      --van-cell-background: rgba(255, 255, 255, 0.15);
      overflow: inherit;
    }

    .van-cell__value {
      color: inherit;
      text-align: left;
      overflow: inherit;
    }
  }
}

.page-list-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 44px;
  padding-top: 10px;
  color: var(--h5-text-color-placeholder);
  font-size: 20px;
  line-height: 32px;
  border-top: var(--van-border);
}

.page-list-img {
  width: 80px;
  height: 80px;
  border-radius: 10px;

  &__error {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--h5-fill-color-light);
    color: #909399;
    font-size: 20px;
  }
}

.plat-icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.text {
  &-highlight {
    color: var(--van-blue);
  }

  &-primary {
    color: var(--h5-text-color-primary);
  }

  &-secondary {
    color: var(--h5-text-color-secondary);
  }

  &-regular {
    color: var(--h5-text-color-regular);
  }

  &-placeholder {
    color: var(--h5-text-color-placeholder);
  }
}
