$color_primary: #e1ff01;
$bg-color: (
  overlay: $color_primary,
);
$border-color: (
  '': #fff,
  light: rgba(255, 255, 255, 0.1)
);
$border-radius: (
  large : 16px,
  base: 12px
);
$card: (
  border-radius: 20px
);
$colors: (
  white: #000,
  black: #fff,
  primary: (
    base: $color_primary, //主题色修改
  ),
);
$common-component-size: (
  default: 44px
);
$date-editor: (
  daterange-width: 260px
);
$dialog: (
  border-radius: 16px,
  margin-top: 6vh
);
$disabled: (
  bg-color: transparent
);
$fill-color: (
  blank: rgba(255, 255, 255, 0.07)
);
$input: (
  bg-color: rgba(0, 0, 0, 0.5),
  border-color: rgba(255, 255, 255, 0.2),
  hover-border-color: rgba(255, 255, 255, 0.2),
  focus-border-color: rgba(255, 255, 255, 0.2),
  placeholder-color: rgba(255, 255, 255, 0.7),
  icon-color: #fff,
  clear-hover-color: $color_primary
);
$messagebox: (
  title-color: #fff,
  content-color: #fff,
  border-radius: 16px,
);
$overlay-color: (
  lighter: rgba(0, 0, 0, 0.7)
);
$select: (
  bg-color: rgba(0, 0, 0, 0.5),
  border-color: rgba(255, 255, 255, 0.2),
  border-color-hover: rgba(255, 255, 255, 0.2),
  input-focus-border-color: rgba(255, 255, 255, 0.2),
  placeholder-color: rgba(255, 255, 255, 0.7),
  icon-color: #fff,
);
$select-option: (
  text-color: rgba(0, 0, 0, 0.7),
  selected-text-color: #000,
  hover-background: rgba(255, 255, 255, 0.7)
);
$text-color: (
  regular: #fff,
  placeholder: rgba(255, 255, 255, 0.7),
  primary: #000,
  secondary: rgba(0, 0, 0, 0.7),
);
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $bg-color: $bg-color,
  $border-color: $border-color,
  $border-radius: $border-radius,
  $card: $card,
  $colors: $colors,
  $common-component-size: $common-component-size,
  $date-editor: $date-editor,
  $dialog: $dialog,
  $disabled: $disabled,
  $fill-color: $fill-color,
  $input: $input,
  $messagebox: $messagebox,
  $overlay-color: $overlay-color,
  $select: $select,
  $select-option: $select-option,
  $text-color: $text-color,
);
@use "element-plus/theme-chalk/src/index.scss" as *;
